---
layout: default
---

<div class="home">

  <header class="post-header">
  <h3 class="page-header">Here is a page of thoughts and other musings, mostly of the oceanographic variety.</h3>
  </header>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div>

<!-- <article class="post"> -->

<!--   <header class="post-header"> -->
<!--     <h1 class="post-title">{{ page.title | escape }}</h1> -->
<!--   </header> -->

<!--   <div class="post-content"> -->
<!--     {{ content }} -->
<!--   </div> -->

<!--     <ul class="post-list"> -->
<!--     {% for post in site.posts %} -->
<!--       <li> -->
<!--         <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

<!--         <h2> -->
<!--           <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> -->
<!--         </h2> -->
<!--       </li> -->
<!--     {% endfor %} -->
<!--   </ul> -->

<!-- </article> -->